# Add any directories, files, or patterns you don't want to be tracked by version control

# Object files
*.o

# Batch scripts and makefiles (since they are system dependent)
*.pbs
makefile

# Files being edited
*~

# Outputs
*.bin
*.bin.info
*.txt